doctype html
html(lang='ru')
	head
		include partials/meta.pug
		link(rel='stylesheet' href='/css/sign-email.css')
		title Sign in
	body
		form.signin(action='check' method='post')
			h2.signin__header Sign in with email
			input.signin__email(type='text' placeholder='Email' name='email')
			.signin__buttons
				a.signin__cancel(href='#') Cancel
				input.signin__submit(type='submit' value='Next')
			.signin__hrefs
				a.signin__terms(href='#') Term of Service
				a.signin__privacy(href='#') Privacy Policy
