doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Личный кабинет
  body
   p Название проекта - #{name}
   p Описание проекта - #{description}
   p Сколько нужно собрать - #{totalSum}
   p Сколько уже собрано - #{currentSum}
   form(action='' method='post')
    input(type='number' name='countOfPOints' placeholder='100')
    input(type='submit' value='register')